<label>Server Name</label>
<input 
type="text" 
class="form-control"
[(ngModel)]="serverName"> <!--Event binding-->
<!-- <p>{{ serverName }}</p>  --> <!--Property binding-->
<button 
btn btn-primary
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add server</button>
<!-- <p [innerText]="allowNewServer"></p> innerText is a property of the element -->
<!-- <p>{{ serverCreationStatus }}</p>  --> <!-- {{}} is a property of the element -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p> <!-- *ngIf is a structural directive (changes the DOM) -->
<app-server *ngFor="let server of servers"></app-server> <!-- *ngFor is a structural directive (changes the DOM) -->

